{% render 'partials/head.liquid' %}

<header>
  <img src="assets/logo_milledoni.svg" alt="logo">
</header>
<main>
 <div class="chatbot">
    
    <div class="chat-window">
        <!-- berichten komen hier -->
        <div class="message bot">Hallo! Waar kan ik je mee helpen?</div>

        <div class="message user">Ik heb een vraag.</div>
    </div>

    <div class="chat-input">
        <form>
            <input type="text" placeholder="Ik ben op zoek naar een cadeau voor..." />
            <button type="submit"><img src="assets/sendicon.svg"></button>
        </form>
    </div>

</div>
  <div class="producten">
    <div class="titel">
      <h1>21 jaar? Dit zijn de cadeaus die indruk maken.</h1>
      <p>
        Op zoek naar een leuk cadeau voor iemand van 21 jaar? Hier vind je een aantal originele cadeau-suggesties,
        gespot door de Milledoni community van cadeauspotters
      </p>
      <button><img src="assets/filtericon.png">Filter</button>
    </div>
    <div class="productenlijst">
      {% for product in products %}
        <div class="producten-kaart">
          <img class="strikje" src="/assets/strikje.svg">
          <img src="{{ product.image }}">
          <h2>{{ product.name }}</h2>
        </div>
      {% endfor %}
    </div>
  </div>
</main>

{% render 'partials/footer.liquid' %}
